@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$font-stack: "Roboto", sans-serif;
$text-color: #333;
$primary-color: #483d8b;
$color-light: #8882ab;

body {
  font-family: $font-stack;
  color: $text-color;
  .new-client-form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    max-width: 1300px;
    margin: auto;
    min-width: 320px;

    .error {
      font-size: 0.8rem;
      color: #b22222;
    }

    .section-header {
      flex-basis: 95%;
    }
    input {
      background-color: white;
      height: 1.5rem;
      padding: 0.5em;
      padding-left: 1em;
      border: 1px solid gray;
      border-radius: 3px;
    }
    select {
      background-color: white;
    }
    input:focus {
      outline-color: $primary-color;
    }
    label {
      margin-top: 1em;
      font-weight: 600;
      font-size: 0.9em;
    }
    h2 {
      align-self: center;
    }

    //-------------------Персональная информация-------------------
    .personal-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .input-panel {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
      }
      .gender-selector {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        flex-basis: 95%;
        p {
          margin: 0;
          font-weight: 600;
        }

        //Кастомный радио индикатор
        .radio {
          display: flex;
          flex-direction: row;
          align-items: center;
          .container {
            display: block;
            position: relative;
            padding-left: 1.5rem;
            margin-right: 1rem;
            cursor: pointer;
            font-size: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          .checkmark {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            height: 1rem;
            width: 1rem;
            border: 1px solid $color-light;
            border-radius: 50%;
          }
          .container:hover input ~ .checkmark {
            border: 1px solid $primary-color;
          }
          .container input:checked ~ .checkmark {
            background-image: url(./assets/radio.svg);
            border: none;
          }
        }
      }

      .phone {
        display: flex;
        flex-direction: column;
        flex-basis: 95%;
        margin-bottom: 1rem;
        label {
          margin-top: 0;
          font-size: 1rem;
          margin-bottom: 0.5em;
        }
        .phone-number {
          display: flex;
          input {
            font-family: $font-stack;
            border-radius: 0;
            height: 1.5rem;
            padding: 0.5em;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            font-size: 1rem;
          }
          span {
            display: inline-flex;
            align-items: center;
            background-color: gainsboro;
            height: 1.5rem;
            padding: 0.5em;
            border: 1px solid gray;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
        }

        //Кастомный чекбокс
        .container {
          display: block;
          position: relative;
          padding-left: 1.5rem;
          margin-top: 1rem;
          cursor: pointer;
          font-size: 1rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        .checkmark {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          left: 0;
          height: 1rem;
          width: 1rem;
          border: 1px solid $color-light;
        }
        .container:hover input ~ .checkmark {
          border: 1px solid $primary-color;
        }
        .container input:checked ~ .checkmark {
          background-color: $primary-color;
          border: none;
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        .container input:checked ~ .checkmark:after {
          display: block;
        }
        .container .checkmark:after {
          left: 0.25rem;
          top: 0;
          width: 0.3em;
          height: 0.6em;
          border: solid white;
          border-width: 0 0.15em 0.15em 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      .client-info {
        display: flex;
        flex-basis: 100%;
        justify-content: space-around;
        .select-wrapper {
          display: flex;
          flex-direction: column;
          flex-basis: 45%;
          select {
            height: 3rem;
            padding-left: 1em;
            border-radius: 3px;
          }
          select:focus {
            outline-color: $primary-color;
          }
        }
      }
    }

    //-----------------------------Адрес----------------------------
    .address {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .address-input-panel {
        display: flex;
        flex-direction: column;
        flex-basis: 28%;
        margin: 1rem;
        margin-top: 0;
      }
    }

    //-----------------------Паспортные данные-----------------------
    .documents {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      margin-bottom: 1rem;
      .doc-input-panel {
        display: flex;
        flex-basis: 28%;
        flex-direction: column;
      }
      .select-wrapper {
        display: flex;
        flex-direction: column;
        flex-basis: 28%;
        select {
          height: 2.6rem;
          padding-left: 1em;
          border-radius: 3px;
        }
        select:focus {
          outline-color: $primary-color;
        }
      }
      div:nth-child(5) {
        flex-basis: 62%;
      }
    }


    .submit-wrapper {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: auto;
      padding-bottom: 2rem;

      .submit-btn {
        color: white;
        background-color: $primary-color;
        min-height: 3.2em;
        padding: 1em;
        margin: 1rem 0;
        width: 10em;
        font-weight: 600;
        align-self: flex-end;
      }

      .success {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 250px;
        border-radius: 10px;
        p {
          font-size: 1.5rem;
          font-weight: 600;
          color: $primary-color;
          margin-top: 0;
        }
        .success-img {
          width: 150px;
          height: 150px;
          background: url(./assets/success.svg);
        }
      }
    }

    //---------------------------Обработка---------------------------

    .modal {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);

      .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid lightgrey;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: lightgrey transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }

      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  body {
    .new-client-form {
      .address {
        .address-input-panel {
          margin: auto;
          flex-basis: 45%;
        }
      }
      .documents {
        flex-direction: column;
        align-items: center;
        .doc-input-panel {
          width: 90%;
          margin: 0 1rem;
          select {
            width: 90%;
          }
        }
        .select-wrapper {
          width: 90%;
        }
      }
      .submit-wrapper {
        width: 90%;
      }
    }
  }
}

@media (max-width: 480px) and (min-device-width: 320px) {
  body {
    .new-client-form {
      min-width: 300px;
      .personal-info {
        flex-direction: column;
        .input-panel {
          margin: 0 1rem;
        }
        .gender-selector,
        .phone {
          margin: 1rem 1rem;
        }
      }
      .address {
        flex-direction: column;
        .address-input-panel {
          margin: 0 1rem;
        }
      }
      .documents {
        flex-direction: column;
        align-items: center;
        .doc-input-panel {
          width: 90%;
          margin: 0 1rem;
          select {
            width: 90%;
          }
        }
        .select-wrapper {
          width: 90%;
        }
      }
      .submit-wrapper {
        width: 90%;
      }
    }
  }
}
